<!--<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	  <link rel="stylesheet" href="css/font-awesome.min.css">
	  <link rel="stylesheet" href="css/main.css">
	<style>
	.tree li {
        list-style-type: none;
		cursor:pointer;
	}
	</style>
  </head>

  <body>-->

  <div class="col-sm-3 col-md-2 sidebar">
      <div class="tree">
          <ul style="padding-left:0px;" class="list-group">
              <li class="list-group-item tree-closed" >
                  <a href="main.html"><i class="glyphicon glyphicon-dashboard"></i> 控制面板</a>
              </li>
              <li class="list-group-item">
                  <span><i class="glyphicon glyphicon glyphicon-tasks"></i> 单词管理 <span class="badge" style="float:right">2</span></span>
                  <ul style="margin-top:10px;">
                      <li style="height:30px;">
                          <a href="user.html" style="color:red;"><i class="glyphicon glyphicon-user"></i> 单词列表</a>
                      </li>
                      <li style="height:30px;">
                          <a href="role.html"><i class="glyphicon glyphicon-certificate"></i> 统计查询</a>
                      </li>
                  </ul>
              </li>
              <li class="list-group-item tree-closed" >
                  <a href="param.html"><i class="glyphicon glyphicon-list-alt"></i> 先空这</a>
              </li>
          </ul>
      </div>
  </div>

<!--	<script src="jquery/jquery-2.1.1.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="script/docs.min.js"></script>
    <script src="layer/layer.js"></script>

        <script type="text/javascript">

        </script>
  </body>
</html>-->
