<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	  <link rel="stylesheet" href="css/font-awesome.min.css">
	  <link rel="stylesheet" href="css/main.css">
	  <link rel="stylesheet" href="toastr/toastr.min.css">
	<style>
	.tree li {
        list-style-type: none;
		cursor:pointer;
	}
	</style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
            <div><a class="navbar-brand" style="font-size:32px;" href="user.html">众筹平台 - 用户维护</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
			<div class="tree">
				<ul style="padding-left:0px;" class="list-group">
					<li class="list-group-item tree-closed" >
						<a href="main.html"><i class="glyphicon glyphicon-dashboard"></i> 控制面板</a> 
					</li>
					<li class="list-group-item">
						<span><i class="glyphicon glyphicon glyphicon-tasks"></i> 单词管理 <span class="badge" style="float:right">2</span></span>
						<ul style="margin-top:10px;">
							<li style="height:30px;">
								<a href="/" style="color:red;"><i class="glyphicon glyphicon-user"></i> 单词列表</a>
							</li>
							<li style="height:30px;">
								<a href="role.html"><i class="glyphicon glyphicon-certificate"></i> 统计查询</a>
							</li>
						</ul>
					</li>
					<li class="list-group-item tree-closed" >
						<a href="param.html"><i class="glyphicon glyphicon-list-alt"></i> 先空这</a>
					</li>
				</ul>
			</div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<ol class="breadcrumb">
				  <li><a href="/">首页</a></li>
				  <li><a href="/">数据列表</a></li>
				  <li class="active">修改</li>
				</ol>
			<div class="panel panel-default">
              <div class="panel-heading">单词修改<div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-question-sign"></i></div></div>
			  <div class="panel-body">
				<form id="userForm" role="form">
				  <div class="form-group">
					<label>单词原型</label>
					<input type="text" class="form-control" id="wordOriginal" th:value="${word.data.wordOriginal}">
					<input type="hidden" class="form-control" id="wordId" th:value="${word.data.wordId}">
					  <input type="hidden" class="form-control" id="wordSearch" th:value="${wordSearch}">
				  </div>
				  <div class="form-group">
					<label>单词发音</label>
					<input type="text" class="form-control" id="wordPronunciation" th:value="${word.data.wordPronunciation}">
				  </div>
				  <div class="form-group">
					<label>单词中文</label>
					<input type="email" class="form-control" id="wordMeaning"  th:value="${word.data.wordMeaning}">
				  </div>
				  <button id="updateBtn" type="button" class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i> 修改</button>
				  <button id="resetBtn" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
				</form>
			  </div>
			</div>
        </div>
      </div>
    </div>
		</div>
	  </div>
	</div>
	<script src="toastr/toastr.min.js"></script>
	<script src="jquery/jquery-2.1.1.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="script/docs.min.js"></script>
    <script src="layer/layer.js"></script>

        <script type="text/javascript">
            $(function () {
			    $(".list-group-item").click(function(){
				    if ( $(this).find("ul") ) {
						$(this).toggleClass("tree-closed");
						if ( $(this).hasClass("tree-closed") ) {
							$("ul", this).hide("fast");
						} else {
							$("ul", this).show("fast");
						}
					}
				});
			    
			    $("#resetBtn").click(function(){
			    	$("#userForm")[0].reset();
			    });
			    
			    $("#updateBtn").click(function(){
			    	$.ajax({
			    		type : "GET",
			    		url  : "updateWordByWordId",
			    		data : {
			    			"wordOriginal" : $("#wordOriginal").val(),
                            "wordPronunciation" : $("#wordPronunciation").val(),
                            "wordMeaning" : $("#wordMeaning").val(),
			    			"wordId"        :  $("#wordId").val(),
							"searchWord"        :  $("#searchWord").val()
			    		},
                        beforeSend : function() {
                            loadingIndex = layer.msg('on handler', {icon: 16});
                        },
			    		success : function(result) {
			    			if ( result.errcode==0 ) {
                                layer.msg("update the word ok~~", {time:1000, icon:6}, function(){
                                    window.location.href = "/";
                                });
			    			} else {
                                layer.msg("fail to update the word", {time:2000, icon:5, shift:6}, function(){

                                });
			    			}
			    		}
			    	});
			    });
            });
        </script>
  </body>
</html>
